<!-- <!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <h2>Error</h2>
    <p>{{ message }}</p>

    <a href="/" class="btn">Go Home</a>
</div>

</body>
</html> -->



<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">
    <h2>Error</h2>
    <p>{{ message }}</p>
    <a href="/" class="btn">Home</a>
</div>
</body>
</html>

